h1{
    color: red;
}
h2{
    color: aqua;
    text-align: center;
}
h3{
    color: green;
    text-align: right;
}
p{
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #000;
    text-align: center;
    font-size: 30px;
}